.footer {
  background-color: rgb(32, 178, 51);
  min-height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    text-align: center;
    font-size: 1.3rem;
  }
}
