.skills {
  background-color: rgb(255, 255, 255);
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .container {
    text-align: center;
    font-size: 1.3rem;
  }
}
